# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\USER\Documents\Jia Herng's Docs\Bachelor's Degree\Year 1\Sem 1\WIX1002 Fundamentals of Programming\Week 4\Assignment\Assignment\iHealth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
